body {
  margin: 5px;
}

header {
  text-align: center;
}

h1 {
  color: purple;
}

.principal {
  color: gray;
  font-weight: bold;
  background: #efefef;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

.principal__name {
  color: black;
}

.principal__region {
  text-transform: uppercase;
}

ol.allies {
  background: lightgreen;
  list-style: none;
}

ol.enemies {
  background: lightpink;
  list-style: none;
}


div:has(> .enemies) {
  display: flex;
}


.TriAvatar {
  background: gainsboro;
  display: inline-block;
}
.TriAvatar img {
  display: inline-block;
  width: 50px;
  height: 50px;    
  border-radius: 100%;
}
.TriAvatar .principal-champion {
  background: gray;
  width: 50px;
  height: 50px;    
}
.TriAvatar .principal-role {
  background: black;
  width: 25px;
  height: 25px;
}
.TriAvatar .principal-opponent {
  background: gray;    
  width: 50px;
  height: 50px;    
}


.teams {
  display: flex;
  justify-content: space-around;
}

.team {
  border: 5px solid gainsboro;
  width: 50%;
}

.team.--red {
  border-color: lightpink;
}
.team.--blue {
  border-color: lightblue;
}

.participant {
  border: 2px solid black;
  margin: 5px;
  display: flex;
  align-items: flex-start;
}

.line {
  display: flex;
  justify-content: flex-start;
}
.line .role {
  width: 3em;
  text-overflow: ellipsis;
  overflow-x: clip;
  color: darkslategray;
}
.line .champion {
  width: 1em;
  height: 1em;
}
